/*.blog-post {
	font-weight:200;

}

.post {
	padding: 10px;
}

.read-more {
	font-size: 80%;
}

.test-page {
	font-size: 80%;
}

.sidebar {
	text-align: right;
	bottom: 40px;
}

.sidebar .site-info {
	text-align: right;
}
*/

/*Start about page header image */
.hero-image-about {
  height: 150px;
  width: 100%;
  background-image: url(../img/theSpot_orig.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 768px) {
  /* line 1, ../sass/partials/_single.sass */
  .hero-image-about {
    height: 180px;
  }
}
@media (min-width: 992px) {
  /* line 1, ../sass/partials/_single.sass */
  .hero-image-about {
    height: 250px;
  }
}
@media (min-width: 1200px) {
  /* line 1, ../sass/partials/_single.sass */
  .hero-image-about {
    height: 400px; /* used to be 320px; */
  }
}
/*End about page header image */


/*Start Evan all-posts page header image */
.hero-image-evan-all-posts {
  height: 150px;
  width: 100%;
  background-image: url(../img/68.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 768px) {
  /* line 1, ../sass/partials/_single.sass */
  .hero-image-evan-all-posts {
    height: 180px;
  }
}
@media (min-width: 992px) {
  /* line 1, ../sass/partials/_single.sass */
  .hero-image-evan-all-posts {
    height: 250px;
  }
}
@media (min-width: 1200px) {
  /* line 1, ../sass/partials/_single.sass */
  .hero-image-evan-all-posts {
    height: 320px;
  }
}
/*Start Evan all-posts page header image */

/*Start Evan all-posts page layout */
.all-posts-evan {
	text-align: center;
	margin-left: 8%;
	margin-right: 8%;
}

/*Start Evan all-posts page layout */

/*Start css modifications for Evan's author page */
.author-evan-header {
	text-align: center;
	font-size: 18px;
}

.evan-sidebar{
	margin-top: 12% !important;
}
/*End css modifications for Evan's author page */

/*Start Disqus comment section modification */
/*#disqus-thread {*/
/*	padding-left: 7%;*/
/*	padding-right: 7%;*/
/*}*/
/*Start Disqus comment section modification */

/*Start error message validation modification */
#contactform label.error {
	color: red;
	font-size: 16px;
}
/*End error message validation modification */

/*Start post image modifications*/
.post-image img{
	width: 50%;
}
/*End post image modifications*/

.search-container {
  /*border:1px solid #000;*/
  right:0px;
  width:30%;
  position: absolute;
  z-index:1;
}

.rachael-img
{
  /*border:1px solid #000;*/
  right:0px;
  top:0px;
  width:20%;
  position: absolute;
  /*z-index:1;	*/
}

.rachael-text
{
  height:50px;
  /*border:1px solid #000;*/
  /*left:0px;*/
  top:0px;
  width:60%;
  position: fixed;
  font-family:lucida handwriting;
  text-align:center;
  background-color:white;
  z-index:1;
}
.rachael-text-two
{
  height:63px;
  /*border:1px solid #000;*/
  /*left:0px; */
  /*top:50px;*/
  width:60%;
  font-family:lucida handwriting;
  text-align:center;
  position:fixed;
  background-color:white;
  z-index:1;
}



/*.sidebar-evan {
  padding: 15px;
  padding-bottom: 29.2%;
  width: 100%;
  height: 350px;
  background-image: url(../img/SidebarSlider.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 450ms;


  -webkit-animation: h_slide 24s ease-out infinite;
  -moz-animation: h_slide 24s ease-out infinite;
  animation: h_slide 24s ease-out infinite;
}

@media (min-width: 768px) {
  .sidebar-evan {
    height: 450px;
  }
}
@media (min-width: 992px) {
  .sidebar-evan {
    width: 400px;
    height: 100%;
    position: fixed;
    background-color: #f5f5f5;
  }
}
@media (min-width: 1200px) {
  .sidebar-evan {
    width: 464px;
  }
}

@keyframes h_slide {
  0% {
    background-position: 0% bottom; }
  20% {
    background-position: 0% bottom; }
  25% {
    background-position: 50% bottom; }
  45% {
    background-position: 50% bottom; }
  50% {
    background-position: 50% bottom; }
  70% {
    background-position: 100% bottom; }
  75% {
    background-position: 100% bottom; }
  100% {
    background-position: 100% bottom; }
}*/


.hero-image-jake-all-posts {
  height: 150px;
  width: 100%;
  background-image: url(../img/chicago_downtown.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 768px) {
  /* line 1, ../sass/partials/_single.sass */
  .hero-image-jake-all-posts {
    height: 180px;
  }
}
@media (min-width: 992px) {
  /* line 1, ../sass/partials/_single.sass */
  .hero-image-jake-all-posts {
    height: 250px;
  }
}
@media (min-width: 1200px) {
  /* line 1, ../sass/partials/_single.sass */
  .hero-image-jake-all-posts {
    height: 320px;
  }
}

/*More animation practice. -Evan */
@keyframes category1 {
    0% {left:0px; top:0px;}
    16.67% {left:200px; top:0px;}
    33.34% {left:400px; top:0px;}
    50% {left:400px; top:200px;}
    66.67% {left:200px; top:200px;}
    83.34% {left:0px; top:200px;}
    100% {left:0px; top:0px;}
}

@-webkit-keyframes category1 {
    0% {left:100px; top:0px;}
    16.67% {left:300px; top:0px;}
    33.34% {left:500px; top:0px;}
    50% {left:500px; top:200px;}
    66.67% {left:300px; top:200px;}
    83.34% {left:0px; top:200px;}
    100% {left:0px; top:0px;}
}

.category-preview-1 {
    -webkit-animation-name: category1;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    animation-name: category1;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@-webkit-keyframes category2 {
    0% {left:200px; top:0px;}
    16.67% {left:400px; top:0px;}
    33.34% {left:400px; top:200px;}
    50% {left:200px; top:200px;}
    66.67% {left:0px; top:200px;}
    83.34% {left:0px; top:0px;}
    100% {left:200px; top:0px;}
}

.category-preview-2 {
    -webkit-animation-name: category2;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    animation-name: category2;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@-webkit-keyframes category3 {
    0% {left:400px; top:0px;}
    16.67% {left:400px; top:200px;}
    33.34% {left:200px; top:200px;}
    50% {left:0px; top:200px;}
    66.67% {left:0px; top:0px;}
    83.34% {left:200px; top:0px;}
    100% {left:400px; top:0px;}
}

.category-preview-3 {
    -webkit-animation-name: category3;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    animation-name: category3;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@-webkit-keyframes category4 {
    0% {left:400px; top:200px;}
    16.67% {left:200px; top:200px;}
    33.34% {left:0px; top:200px;}
    50% {left:0px; top:0px;}
    66.67% {left:200px; top:0px;}
    83.34% {left:400px; top:0px;}
    100% {left:400px; top:200px;}
}

.category-preview-4 {
    -webkit-animation-name: category4;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    animation-name: category4;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@-webkit-keyframes category5 {
    0% {left:200px; top:200px;}
    16.67% {left:0px; top:200px;}
    33.34% {left:0px; top:0px;}
    50% {left:200px; top:0px;}
    66.67% {left:400px; top:0px;}
    83.34% {left:400px; top:200px;}
    100% {left:200px; top:200px;}
}

.category-preview-5 {
    -webkit-animation-name: category5;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    animation-name: category5;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@-webkit-keyframes category6 {
    0% {left:0px; top:200px;}
    16.67% {left:0px; top:0px;}
    33.34% {left:200px; top:0px;}
    50% {left:400px; top:0px;}
    66.67% {left:400px; top:200px;}
    83.34% {left:200px; top:200px;}
    100% {left:0px; top:200px;}
}

.category-preview-6 {
    -webkit-animation-name: category6;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    animation-name: category6;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
