/*.blog-post {
	font-weight:200;

}

.post {
	padding: 10px;
}

.read-more {
	font-size: 80%;
}

.test-page {
	font-size: 80%;
}

.sidebar {
	text-align: right;
	bottom: 40px;
}

.sidebar .site-info {
	text-align: right;
}
*/

.climb-category {
	background-image: url(img/jake_climbing.jpg);
	background-size: cover;
}
