.hover-display
{
		float: left;
		width:208px;
		height: auto;
		position: absolute;
		margin-top:10px
}

.hover-state{
font-size: 20px;
font-family: sans-serif;
/*float: left;*/
}

.title{
font-size: 25px;
font-family: initial;
background-color: black;
color: white;
text-align: center;
height:105px;
padding-top: .1px
}

.container{
	background-color: #1C6BA0;
	width:959px;
	padding-left: 0px;
	margin-top:10px;
}

.map{
	border-style: solid;
	padding-left: 20px;
	width:959px;
}

.header{

}

.menu{

}


.instructions{
	height:10%;
	width:20%;
	border-style: double;
	position: absolute;
	right: 0;
	font-family: sans-serif;
	font-size: 20px;
	float:right;
}
