
.hover-state{
font-size: 15px;
font-family: sans-serif;
color: black;
}

.title{
font-size: 25px;
font-family: initial;
color: black;
}

.container{
	background-color: "black";
}

.map{
	border-style: solid;
	padding-left: 20px;
}

.header{

}

.menu{

}

.hover-display
{
    height: 10%;
    width: 100%;
    margin-left:2%;
    overflow: auto;
}
