
.hover-state{
font-size: 15px;
font-family: sans-serif;
}

.title{
font-size: 25px;
font-family: initial;
background-color: black;
color: white;
text-align: center;
}

.container{
	background-color: #0078F4;
	width:959px;
	padding-left: 0px;
}

.map{
	border-style: solid;
	padding-left: 20px;
	width:959px;
}

.header{

}

.menu{

}

.hover-display
{
    height: 10%;
    width: 100%;
    margin-left:2%;
    overflow: auto;
}

.instructions{
	height:10%;
	width:20%;
	border-style: double;
	position: absolute;
	right: 0;
	font-family: sans-serif;
	font-size: 20px;
	float:right;
}
