{% if page.comments %}
<div id="disqus_thread" style="padding-left: 7%; padding-right: 7%;"></div>
<script>

// NEED TO FIX BELOW VARIABLES IF WE HAVE DIFFERENT URLS i.e. HTTP TO HTTPS -Evan
// var disqus_config = function () {
// this.page.url = www.officetoadventure.com{{ page.url }}; // Replace PAGE_URL with your page's canonical URL variable
// this.page.identifier = "{{ page.url }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
// };

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');

s.src = '//officetoadventure.disqus.com/embed.js';

s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
{% endif %}
