<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Author - Jake Ellis</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

    	<link rel="stylesheet" href="css/custom.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/main.css">

		<!--[if lte IE 9]>
		  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
		  <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.3.0/respond.js"></script>
		<![endif]-->

        <script src="js/vendor/modernizr.custom.32229-2.8-respondjs-1-4-2.js"></script>
    </head>
    <body >

        <main class="container left-container">
            <div class="row">

                <div id="menu-target">
                    <ul>
                        <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
                        <li><i class="fa fa-user"></i><a href="author_evan.html">Evan Neises</a></li>
                        <li><i class="fa fa-user"></i><a href="author_jake.html">Jake Ellis</a></li>
                        <li><i class="fa fa-anchor"></i><a href="about.html">About</a></li>
                        <li><i class="fa fa-paper-plane"></i><a href="contact.html">Contact</a></li>
                    </ul>
                    <hr>
                </div>

                <section class="sidebar col-md-5 col-sm-12" style="background-image: url(img/jake_n_boone.jpg)">

                    <span class="menu-trigger animated fadeInDown">
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </span>

                    <!-- if the user has javascript disabled they can still use the menu -->
                    <noscript>
                        <div class="no-js-menu">
                            <ul>
                                <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
                                <li><i class="fa fa-user"></i><a href="author_evan.html">Evan Neises</a></li>
                                <li><i class="fa fa-user"></i><a href="author_jake.html">Jake Ellis</a></li>
                                <li><i class="fa fa-anchor"></i><a href="about.html">About</a></li>
                                <li><i class="fa fa-paper-plane"></i><a href="contact.html">Contact</a></li>
                            </ul>
                        </div>
                    </noscript>
                    <!-- end no script -->

                    <div class="site-info">
                        <div class="primary-info">
                        	<h1></h1>
                        <br>
                        <br>
                            <p>I love my work and I love being outside... but I love one, more than the other</p>
                        </div>
                        <div class="secondary-info">

                            <p><a class="btn btn-default" href="contact.html"><i class="fa fa-paper-plane"></i>Contact Us</a>
                        </div>
                    </div>

                </section>

                <div class="col-md-7 col-sm-12 col-md-offset-5 main-content">

                    <div class="author-bio">
                        <img src="img/jake_rach_yosemite.jpg">

                        <div class="author-bio__info">
                            <h1>Jake Ellis</h1>
                        </div>
                        <div class="author-bio__info">
                      	<p>
	                        <font size="4">
	                                <center>Kentucky raised. University of Louisville graduating class of 2013. </center>
	                                <br>
	                                <center>Information Technology is the name, adventure is the game.</center>
				</font>
			</p>
                            <p>
                                Studying at a business school with a technology degree has provided me with the business sense as well as the technical understanding of systems, coding practices and databases, which enables me to work well with both business and IT. Growing up racing dirt bikes and playing conventional sports gave me a reason to be outside and enjoy working with my hands. Similarly, working in IT allows me to think critically, create something new, or fix something broken.
                                <br><br>
                                I wouldn’t be able to get through the day without my two girls, Rachael and Boone. Boone is a fiftyfive pound Black Lab - Husky mix and Rachael is a Female Human. When I am not with my ladies, I spend my time in the gym, rock climbing, playing basketball, reading, traveling, experiencing the great outdoors, or at a friend's house working on new IT projects.
                            </p>
                            
                        </div>
                    </div>
                    <p>

                    <h2 class="favorites">Posts By Jake</h2>

                    <div class="posts-block animated fadeIn ">
                        
                         <div class = "post">
                    
                            {% assign posts = site.posts limit:1 | where: "post_author","Jake Ellis" %}
                            {% for post in posts %}
                            {% assign postindex = forloop.index %}
                            {% if postindex = 1 %}
                            <article class="post">
                              <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

                              <div class="entry">
                                {{ post.excerpt }}
                              </div>

                            </article>
                            {% endif %}
                          {% endfor %}
                        </div>
                        
			<script type="text/javascript">
			 function showhide(id) {
			    var e = document.getElementById(id);
			    e.style.display = (e.style.display == 'block') ? 'none' : 'block';
			 }
			</script>
				
			<body>
			    <a href="javascript:showhide('moreposts')">
			        See more posts by Jake.
			    </a>
			
			    <div id="moreposts" style="display:none;">
			        <p>
				   {% assign posts = site.posts | where: "post_author","Jake Ellis" %}
	                            {% for post in posts  %}
	                            <article class="post">
	                            	<h1>{{postindex}}</h1>
	                            <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
	
	                              <div class="entry">
	                                {{ post.excerpt }}
	                              </div>
	
	                            </article>
	                          {% endfor %}
			        </p>
			    </div>
			
			</body>
                        
                        <div class="view-all-by-author">
                            <a href="index.html">View All Posts by Jake <i class="fa fa-chevron-right"></i></a>
                        </div>
                    </div>
                    
                    <footer class="split-footer">
                        <a href="about.html">About</a>
                        <!--
                        <i class="link-spacer"></i>
                        <a href="author_jake.html">Ellis</a>
                        -->
                    </footer>
                    
                </div><!-- main content -->
            </div> <!--/row -->
        </main> <!-- /container -->


<footer class="single">
            <div class="container">
                 <div class="row">
                     <div class="col-xs-12 col-sm-2">
                    </div>
                    <div class="col-xs-12 col-sm-6">
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="social">
                            <p>Follow Jake On Social Media</a>
                            <div class="social-links">
                                <a href="https://mobile.twitter.com/Jake_M_Ellis"><i class="fa fa-twitter fa-5x"></i></a>
                                <i class="link-spacer"></i>
                                <a href="https://www.facebook.com/jellis918"><i class="fa fa-facebook fa-5x"></i></a>
                                <i class="link-spacer"></i>
                                <a href="https://www.linkedin.com/in/jacob-ellis-99062219"><i class="fa fa-linkedin fa-5x"></i></a>
                                <i class="link-spacer"></i>
                                <a href="https://github.com/JakeEllis"><i class="fa fa-github fa-5x"></i></a>
                                <i class="link-spacer"></i>
                                <a href="https://www.instagram.com/jake_m_ellis/"><i class="fa fa-instagram fa-5x"></i></a>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
        <script src="js/vendor/jquery.jpanelmenu.min.js"></script>
        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/vendor/fastclick.min.js"></script>

        <script src="js/main.js"></script>
    </body>
</html>
