<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Climbing Posts</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/main.css">

		<!--[if lte IE 9]>
		  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
		  <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.3.0/respond.js"></script>
		<![endif]-->

        <script src="js/vendor/modernizr.custom.32229-2.8-respondjs-1-4-2.js"></script>
        {% include google_analytics.html %}
    </head>
    <body >

    <main class="container left-container">
        <div class="row">

            <div id="menu-target">
                <ul>
                    <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
		    <li><i class="fa fa-th"></i><a href="category.html">Categories</a></li>
                    <li><i class="fa fa-user"></i><a href="author_evan.html">Evan Neises</a></li>
                    <li><i class="fa fa-user"></i><a href="author_jake.html">Jake Ellis</a></li>
		    <li><i class="fa fa-users"></i><a href="guest_authors.html">Guest Authors</a></li>
                    <li><i class="fa fa-beer"></i><a href="about.html">About</a></li>
                    <li><i class="fa fa-paper-plane"></i><a href="contact.html">Contact</a></li>
                </ul>
                <hr>
            </div>

            <section class="sidebar category-sidebar col-md-5 col-sm-12" style="background-image: url(img/climbing_gear.jpg);">

                <span class="menu-trigger animated fadeInDown">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </span>

                <!-- if the user has javascript disabled they can still use the menu -->
                <noscript>
                    <div class="no-js-menu">
                        <ul>
	                        <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
				<li><i class="fa fa-th"></i><a href="category.html">Categories</a></li>
	                        <li><i class="fa fa-user"></i><a href="author_evan.html">Evan Neises</a></li>
	                        <li><i class="fa fa-user"></i><a href="author_jake.html">Jake Ellis</a></li>
				<li><i class="fa fa-users"></i><a href="guest_authors.html">Guest Authors</a></li>
	                        <li><i class="fa fa-beer"></i><a href="about.html">About</a></li>
	                        <li><i class="fa fa-paper-plane"></i><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                </noscript>
                <!-- end no script -->

                <div class="site-info">
                    <div class="primary-info">
                    <h1>Climbing</h1>
                        <p>You are going somewhere. Every day. Every experience you get. You are moving forward. - Jimmy Chin</p>
                    </div>
                </div>

            </section>

            <section class="col-md-7 col-sm-12 col-md-offset-5 main-content">

                <div class="sub-nav">
                    <a href="#" class="select-posts active">Posts</a>
                </div>

                <div class="category-page-posts animated fadeIn ">

			  {% assign posts = site.posts | where: "post_category","Climbing" %}
			  {% for post in posts %}

			      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
					<div class="col-xs-1 no-gutter pull-right">
						{% if author.author_id == "evan_neises" %}
						<img src="{{ site.url }}/img/ENeises1.jpg" class="user-icon" alt="user-image">
						{% elsif author.author_id == "jake_ellis" %}
						<img src="{{ site.url }}/img/jake_rach_yosemite.jpg" class="user-icon" alt="user-image">
						{% endif %}
					</div>
			      <div class="entry">
				{{ post.excerpt }}
			      </div>
			<p  class="meta">
				{% if author.author_id == "evan_neises"%}
					By <a href="{{ site.url }}/author_evan.html">{{ post.post_author }}</a>
				{% elsif author.author_id == "jake_ellis"%}
					By <a href="{{ site.url }}/author_jake.html">{{ post.post_author }}</a>
				{% else %}
					By <a href="{{ site.url }}/author_guest.html">{{ post.post_author }}</a>
				{% endif %}
			</p>
			<hr>
			  {% endfor %}
			</div>

                </div><!-- Category page posts -->
            </section><!-- main content -->
        </div> <!--/row -->
    </main> <!-- /container -->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

        <script src="js/vendor/jquery.jpanelmenu.min.js"></script>
        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/vendor/fastclick.min.js"></script>

        <script src="js/main.js"></script>
    </body>
</html>
