---
layout: default
title: EJ Blog
---
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Blog Home</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/main.css">
		<link rel="stylesheet" href="css/custom.css">

        <!--[if lt IE 9]>
            <script src="/js/vendor/html5shiv.min.js"></script>
        <![endif]-->

        <script src="js/vendor/modernizr.custom.32229-2.8-respondjs-1-4-2.js"></script>
    </head>
    <body> <!-- Beginning sidebar -->
        <main class="container left-container">
            <div class="row">

                <div id="menu-target">
                    <ul>
                        <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
                        <li><i class="fa fa-user"></i><a href="author_evan.html">Evan Neises</a></li>
                        <li><i class="fa fa-user"></i><a href="author_jake.html">Jake Ellis</a></li>
                        <li><i class="fa fa-anchor"></i><a href="about.html">About</a></li>
                        <li><i class="fa fa-star"></i><a href="favorites.html">Favorites</a></li>
                        <li><i class="fa fa-paper-plane"></i><a href="contact.html">Contact</a></li>
                    </ul>
                    <hr>
                    <ul>
                        <!-- <li><i class="fa fa-file"></i><a href="post.html">Post Page</a></li> -->
                        <!--  <li><i class="fa fa-file"></i><a href="post-sidebar.html">Post with Sidebar</a></li> -->
                        <!--  <li><i class="fa fa-home"></i><a href="alt-home.html">Alternate Home</a></li> -->
                        <!--  <li><i class="fa fa-image"></i><a href="category.html">Category Page</a></li> -->
                    </ul>
                </div>

                <section class="sidebar col-md-5 col-sm-12" style="background-image: url(img/default-sidebar.jpg">

                    <span class="menu-trigger animated fadeInDown">
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </span>

                    <!-- if the user has javascript disabled they can still use the menu -->
                    <noscript>
                        <div class="no-js-menu">
                            <ul>
                                <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
                                <li><i class="fa fa-user"></i><a href="author_evan.html">Evan Neises</a></li> 
                                <li><i class="fa fa-user"></i><a href="author_jake.html">Jake Ellis</a></li> 
                                <li><i class="fa fa-anchor"></i><a href="about.html">About</a></li>
                                <li><i class="fa fa-star"></i><a href="favorites.html">Favorites</a></li>
                                <li><i class="fa fa-paper-plane"></i><a href="contact.html">Contact</a></li>
                                <!-- <li><i class="fa fa-file"></i><a href="post.html">Post Page</a></li>-->
                                <!-- <li><i class="fa fa-file"></i><a href="post-sidebar.html">Post with Sidebar</a></li> -->
                                <!-- <li><i class="fa fa-home"></i><a href="alt-home.html">Alternate Home</a></li> -->
                                <li><i class="fa fa-image"></i><a href="category.html">Category Page</a></li>
                            </ul>
                        </div>
                    </noscript>
                    <!-- end no script -->
                    

                    <div class="site-info">
                        <div class="primary-info">
                        	<!--Changed welcome message on left image sidebar -Evan -->
                            <h1>Welcome</h1>
                            <p>Like us, you probably have a life outside of work. Please enjoy our stories and thoughts of all the things we enjoy.</p> 

                        </div>
                        <div class="secondary-info">
                            <p>
                            	<!--Changed button to contact our email -Evan -->
                                <a class="btn btn-primary" href="contact.html"><i class="fa"></i>Tell Us What You Think!</a>
                            </p>
                        </div>
                    </div>
                </section><!-- end sidebar -->

<!-- Starting main page -->
                <section class="col-md-7 col-sm-12 col-md-offset-5 main-content">

                    <div class="sub-nav">
                        <a href="#" class="select-posts active">Posts</a>
                        <a href="#" class="select-categories">Categories</a>
                    </div>

                    <div class="home-page-posts animated fadeIn ">

                        <article class="post">
                            <div class="post-preview col-xs-10  no-gutter">
                                <h2><a href="2015/12/23/from-one-young-professional-to-another.html">From One Young Professional To Another</a></h2>
				<p>From One Young Professional To Another</p>	 <!--{% for post in site.posts %}-->		
				
				<p ul class="posts">
                                    <a href="author.html"></a> in <a href="category.html">Easy Living</a> <i class="link-spacer"></i> <i class="fa fa-bookmark"></i> 9 minute read
                                </p>
	  				
	  			<p>	
	    				<!--<li>
	    				<span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
					 {% endfor %}
					</ul>
					-->
                                </p>

                                <p class="meta">
                                    <a href="author.html">Evan Neises</a> in <a href="category.html">Storytime</a> <i class="link-spacer"></i> <i class="fa fa-bookmark"></i> 23 minute read
                                </p>
                            </div>

                            <div class=" col-xs-2  no-gutter">
                             <!-- This is the image associated with your post-->   <img src="img/profile-1.jpg" class="user-icon" alt="user-image">
                            </div>
                        </article>
                        

                        <article class="post">
                            <div class="posts">
  				{% for post in site.posts %}
    				<article class="post">

				 <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      					<div class="entry">
        				{{ post.excerpt }}
      					</div>

      				<a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    				</article>
  				{% endfor %}
			</div>

                            <div class=" col-xs-2 no-gutter">
                                <img src="img/profile-2.jpg" class="user-icon"  alt="user-image">
                            </div>
                        </article>

  
  
  </div>
                    
                    <!-- Home page posts -->

<!-- Start Categories Tab info -->
                    <div class="home-page-categories hide animated fadeIn ">
                        <div class="category row">
                        <!--Changed/added categories to fit our activities. Feel free to modify -Evan -->
                        <!-- Better pictures need to be added to categories -Evan -->
                            <section>
                                <div class="category-preview col-xs-6 col-sm-4 ">
                                    <h2>Travel</h2>
                                    <a href="category.html"><img src="img/cover-2.jpg" alt="category-image"></a>
                                </div>

                                <div class="category-preview col-xs-6 col-sm-4 ">
                                    <h2>Skiing/Snowboarding</h2>
                                    <a href="category.html"><img src="img/snowsports-thumb.jpg" alt="category-image"></a>
                                </div>

                                <div class="category-preview col-xs-6 col-sm-4 ">
                                    <h2>Fitness</h2>
                                    <a href="category.html"><img src="img/cover-6.jpg" alt="category-image"></a>
                                </div>

                                <div class="category-preview col-xs-6 col-sm-4 ">
                                    <h2>Climbing</h2>
                                     <a href="category.html"><img src="img/cover-9.jpg" alt="category-image"></a>
                                </div>

                                <div class="category-preview col-xs-6 col-sm-4 ">
                                    <h2>Information Technology</h2>
                                    <a href="category.html"><img src="img/cover-1.jpg" alt="category-image" ></a>
                                </div>

                                <div class="category-preview col-xs-6 col-sm-4 ">
                                    <h2>Music</h2>
                                     <a href="category.html"><img src="img/cover-3.jpg" alt="category-image"></a>
                                </div>

                                <div class="category-preview col-xs-6 col-sm-4 ">
                                    <h2>Graphic Design</h2>
                                     <a href="category.html"><img src="img/cover-5.jpg" alt="category-image"></a>
                                </div>

                                <div class="category-preview col-xs-6 col-sm-4 ">
                                    <h2>Photography</h2>
                                    <a href="category.html"><img src="img/cover-7.jpg" alt="category-image"></a>
                                </div>

                                <div class="category-preview col-xs-6 col-sm-4 ">
                                    <h2>Miscellaneous</h2>
                                     <a href="category.html"><img src="img/cover-8.jpg" alt="category-image"></a>
                                </div>

                            </section>
                        </div>
                    </div>
                    <footer class="split-footer">
                        <a href="about.html">About</a>
                        <i class="link-spacer"></i>
                        <a href="author_evan.html">Neises</a>
                        <a href="author_jake.html">Ellis</a>
                    </footer>

                </section><!-- main content -->

            </div> <!--/row -->

        </main> <!-- /container -->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

        <script src="js/vendor/jquery.jpanelmenu.min.js"></script>
        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/vendor/fastclick.min.js"></script>

        <script src="js/main.js"></script>
    </body>
</html>
