<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Blog Home</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
	
	<link rel="stylesheet" href="{{ site.url }}/css/custom.css">
        <link rel="stylesheet" href="{{ site.url }}/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ site.url }}/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ site.url }}/css/main.css">
	
        
		<!--[if lte IE 9]>
		  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
		  <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.3.0/respond.js"></script>
		<![endif]-->
        

        <script src="{{ site.url }}/js/vendor/modernizr.custom.32229-2.8-respondjs-1-4-2.js"></script>
        
    </head>
    <body> <!-- Beginning sidebar -->
        <main class="container left-container">
            <div class="row">

                <div id="menu-target">
                    <ul>
                        <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
			<li><i class="fa fa-th"></i><a href="category.html">Categories</a></li>
                        <li><i class="fa fa-user"></i><a href="author_evan.html">Evan Neises</a></li>
                        <li><i class="fa fa-user"></i><a href="author_jake.html">Jake Ellis</a></li>
			<li><i class="fa fa-users"></i><a href="guest_authors.html">Guest Authors</a></li>
                        <li><i class="fa fa-beer"></i><a href="about.html">About</a></li>
                        <li><i class="fa fa-paper-plane"></i><a href="contact.html">Contact</a></li>
                    </ul>
                    <hr>
                </div>

                <section class="sidebar col-md-5 col-sm-12">

                    <span class="menu-trigger animated fadeInDown">
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </span>

                    <!-- if the user has javascript disabled they can still use the menu -->
                    <noscript>
                        <div class="no-js-menu">
                            <ul>
		                        <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
					<li><i class="fa fa-th"></i><a href="category.html">Categories</a></li>
		                        <li><i class="fa fa-user"></i><a href="author_evan.html">Evan Neises</a></li>
		                        <li><i class="fa fa-user"></i><a href="author_jake.html">Jake Ellis</a></li>
					<li><i class="fa fa-users"></i><a href="guest_authors.html">Guest Authors</a></li>
		                        <li><i class="fa fa-beer"></i><a href="about.html">About</a></li>
		                        <li><i class="fa fa-paper-plane"></i><a href="contact.html">Contact</a></li>
                            </ul>
                        </div>
                    </noscript>
                    <!-- end no script -->
                    

                    <div class="site-info">
                        <div class="primary-info">
                        	<!--Changed welcome message on left image sidebar -Evan -->
                            <h1>Welcome</h1>
                            <p>Like us, you probably have a life outside of work. Please enjoy our stories and thoughts of all the things we enjoy.</p> 

                        </div>
                        <div class="secondary-info">
                            <p>
                            	<!--Changed button to contact our email -Evan -->
                                <a class="btn btn-primary" href="contact.html"><i class="fa"></i>Tell Us What You Think!</a>
                            </p>
                        </div>
                    </div>
                </section><!-- end sidebar -->

<!-- Starting main page -->
                <section class="col-md-7 col-sm-12 col-md-offset-5 main-content">
                	
                    <div class="sub-nav">
                        <a href="#" class="select-posts active">Posts</a>
                        <a href="#" class="select-categories">Categories</a>
                    </div>

                    <div class="home-page-posts animated fadeIn ">
	
    			<!--{% assign postCount = '0' %}-->
    			{% for post in site.posts %}
    			<!--{% capture postCount %}{{ postCount | plus: '1' }}{% endcapture %}-->
				
				{% assign author = site.authors | where:"author_id", post.author_id | first %}
				
				<h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
					<div class="col-xs-1 no-gutter pull-right">
						{% if author.author_id == evan_neises %}
						<img src="{{ site.url }}/img/ENeises1.jpg" class="user-icon" alt="user-image">
						{% elsif author.author_id == jake_ellis %}
						<img src="{{ site.url }}/img/jake_rach_yosemite.jpg" class="user-icon" alt="user-image">
						{% elsif author.image_file != null %}
						<img src="{{ site.url }}/img/{{ author.image_file }}" class="user-icon" alt="user-image">
						{% else %}
						<img src="{{ site.url }}/img/no_image.jpg" class="user-icon" alt="user-image">
						{% endif %}
						<!--<img src="{{ site.url }}/img/{{ post.author.image_file }}" class="user-icon" alt="user-image">-->
						
					</div>
	      			<div class="entry">
				{{ post.excerpt }}
				
				<p class="meta">
					{% if author.name == "Evan Neises" %}
	                            		By <a href="{{ site.url }}/author_evan.html">{{ author.name }}</a> in <a href="{{ site.url }}/{{ post.post_category_link }}.html">{{ post.post_category }}</a>
				    	{% elsif author.name == "Jake Ellis" %}
				    		By <a href="{{ site.url }}/author_jake.html">{{ author.name }}</a> in <a href="{{ site.url }}/{{ post.post_category_link }}.html">{{ post.post_category }}</a>
				    	{% else %}
				    		By <a href="{{ site.url }}/guest_authors.html">{{ author.name }}</a> in <a href="{{ site.url }}/{{ post.post_category_link }}.html">{{ post.post_category }}</a>
				    	{% endif %}
					</p>	
		      	</div>
				<hr>     
			{% endfor %}
		    
			<!--<script type="text/javascript">-->
			<!-- function showhide(id) -->
			<!-- {-->
			<!--    var e = document.getElementById(id);-->
			<!--    e.style.display = (e.style.display == 'block') ? 'none' : 'block';-->
			<!-- }-->
			<!--</script>-->
			
			<!--<body>-->
			<!--<a href="javascript:showhide('moreposts')" onclick="if(this.innerHTML =='See Less Posts')-->
			<!--	{this.innerHTML = 'See More Posts'}else{this.innerHTML = 'See Less Posts'};" class="meta">-->
			<!--	See More Posts-->
			<!--</a>-->
			
			<!--    <div id="moreposts" style="display:none;">-->
			<!--   <a name="jump"></a>	-->
			<!--        <p>-->
				  
			<!--	   {% assign postCount2 = '0' %}-->
	  <!--                          {% for post in site.posts limit:10 %}-->
	                            
	  <!--                          {% capture postCount2 %}{{ postCount2 | plus: '1' }}{% endcapture %}-->
	  <!--                          {% if postCount < postCount2 %}-->
		                            <!--<article class="post">-->
		 <!--                           	<h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>-->
		           
		 <!--                    <div class="col-xs-1 no-gutter pull-right">-->
			<!--			{% if post.post_author == "Evan Neises" %}-->
			<!--			<img src="{{ site.url }}/img/ENeises1.jpg" class="user-icon" alt="user-image">-->
			<!--			{% elsif post.post_author == "Jake Ellis" %}-->
			<!--			<img src="{{ site.url }}/img/jake_rach_yosemite.jpg" class="user-icon" alt="user-image">-->
			<!--			{% endif %}-->
			<!--	    </div>-->
		                     
		 <!--                    <div class="entry">-->
		 <!--                               {{ post.excerpt }}-->
										
			<!--					<p class="meta">-->
			<!--						{% if post.post_author == "Evan Neises" %}-->
			<!--		                            		By <a href="{{ site.url }}/author_evan.html">{{ post.post_author }}</a> in <a href="{{ site.url }}/{{ post.post_category_link }}.html">{{ post.post_category }}</a>-->
			<!--					    	{% elsif post.post_author == "Jake Ellis" %}-->
			<!--					    		By <a href="{{ site.url }}/author_jake.html">{{ post.post_author }}</a> in <a href="{{ site.url }}/{{ post.post_category_link }}.html">{{ post.post_category }}</a>-->
			<!--					    	{% else %}-->
			<!--					    		By <a href="{{ site.url }}/guest_authors.html">{{ post.post_author}}</a> in <a href="{{ site.url }}/{{ post.post_category_link }}e.html">{{ post.post_category }}</a>-->
			<!--					    	{% endif %}-->
			<!--					</p>-->
		 <!--                    </div>-->
		 <!--                    <hr>-->
			<!--	    {% endif %}-->
		                            <!--</article>-->
	  <!--                        {% endfor %}-->
			<!--        </p>-->
			<!--    </div>-->
			<!--</body>-->
      		</div>
			
                    
                    <!-- Home page posts -->

<!-- Start Categories Tab info -->
                    <div class="home-page-categories hide animated fadeIn ">
                        <div class="category row">
                        <!--Changed/added categories to fit our activities. Feel free to modify -Evan -->
                        <!-- Better pictures need to be added to categories -Evan -->
                            <section>
								
                                <div class="category-preview col-xs-6 col-sm-4 ">
                                    <h2>Travel</h2>
                                    <a href="travel_category.html"><img src="img/chicago_downtown_category.jpg" alt="category-image"></a>
                                </div>

                                <div class="category-preview col-xs-6 col-sm-4 ">
                                    <h2>Snow Sports</h2>
                                    <a href="snow_category.html"><img src="img/38.jpg" alt="category-image"></a>
                                </div>

                                <div class="category-preview col-xs-6 col-sm-4 ">
                                    <h2>Fitness</h2>
                                    <a href="fitness_category.html"><img src="img/fitness_weights.jpg" alt="category-image"></a>
                                </div>

                                <div class="category-preview climb-category col-xs-6 col-sm-4">
                                    <h2>Climbing</h2>
                                     <a href="climbing_category.html"><img src="img/climbcategory1.jpg" alt="category-image"></a>
                                </div>

                                <div class="category-preview col-xs-6 col-sm-4 ">
                                    <h2>Information Technology</h2>
                                    <a href="it_category.html"><img src="img/cover-1.jpg" alt="category-image" ></a>
                                </div>

                                <div class="category-preview col-xs-6 col-sm-4 ">
                                    <h2>Miscellaneous</h2>
                                     <a href="misc_category.html"><img src="img/green_logo_category2.jpg" alt="category-image"></a>
                                </div>

                            </section>
                        </div>
                    </div>
                    <footer class="split-footer">
                        <a href="about.html">About</a>
                        <i class="link-spacer"></i>
                        <a href="author_evan.html">Neises</a>
                        <i class="link-spacer"></i>
                        <a href="author_jake.html">Ellis</a>
                    </footer>

                </section><!-- main content -->

            </div> <!--/row -->

        </main> <!-- /container -->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ site.url }}/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

        <script src="{{ site.url }}/js/vendor/jquery.jpanelmenu.min.js"></script>
        <script src="{{ site.url }}/js/vendor/bootstrap.min.js"></script>
        <script src="{{ site.url }}/js/vendor/fastclick.min.js"></script>

        <script src="{{ site.url }}/js/main.js"></script>
		{% include google_analytics.html %}
    </body>
</html>
