<!DOCTYPE html>
<html class="no-js">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Map</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/map.css">

  <!--[if lte IE 9]>
		<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.3.0/respond.js"></script>
		<![endif]-->

  <script src="js/vendor/modernizr.custom.32229-2.8-respondjs-1-4-2.js"></script>
  {% include google_analytics.html %}


</head>

<body class="body">

  First name: <input type="text" name="fname" value="John"><br> Last name: <input type="text" name="lname" value="Doe"><br>
  <input type="submit" id="submit" value="Submit form">


  <script>
    var firstname = document.getElementsByName('fname').innerhtml;
    var lastname = document.getElementsByName('lname').innerhtml;

    document.getElementById('submit').onclick = function() {
      // Connecting and sending data to the mongodb database
      var MongoClient = require('mongodb').MongoClient,
        assert = require('assert');

      // Connection URL
      var url = 'mongodb://localhost:27017/test';

      // Use connect method to connect to the server
      MongoClient.connect(url, function(err, db) {
        assert.equal(null, err);
        console.log("Connected successfully to server");

        // Insert a single document
        db.collection('userInfo').insertOne({
          a: 1,
          "furstName": firstname,
          "lastName": lastName,
          "location": "Test Log-in Page"
        }, function(err, r) {
          assert.equal(null, err);
          assert.equal(1, r.insertedCount);
        });
        db.close();
      });


    };
  </script>

</body>

</html>
