<!DOCTYPE html>
<html class="no-js">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Map</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" href="css/custom.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/map.css">

	<!--[if lte IE 9]>
		<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.3.0/respond.js"></script>
		<![endif]-->

		<script src="js/vendor/modernizr.custom.32229-2.8-respondjs-1-4-2.js"></script>
		{% include google_analytics.html %}

	<!-- Style for the modal (box that opens when a state is clicked -->
	<style>
/*css in map.css file can go here*/
	</style>

	</head>
  <body>
    <h1>Map Project</h1>
			<p id="demo"> hello </p>

		<div id="map"><div id="myModal" class="modal">
			 <span id="close">&times;</span>
			 <div id="ky" class="ky"> </div>
		</div>
	  </div>

	  <script src="js/raphael.js"></script>
	  <script src="js/usa_map_cvg.js"></script>
	  <script src="js/ky_state_svg.js"></script>

	<h1 id="state-name">State Name</h1>
	<h1 id="id">State ID</h1>

  </body>
</html>
