<!DOCTYPE html>
<html class="no-js">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Editor</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" href="css/editor.css">
	<link rel="stylesheet" href="css/ui-lightness-jquery-ui-1.8.7.custom.css">

</head>

<body>
	<p>Image Editor</p>

	<p id="clickedText"></p>

	<div id="imageEditor">
		<section id="editorContainer">
			<canvas id="editor" width="480" height="480" style="border:1px solid #000000"></canvas>
		</section>

		<section id="toolbar">
			<a id="save" href="#" title="Save">Save</a>
			<!-- <a id="greyscale" href="#" title="Convert to grayscale">B&W</a>
					<a id="sepia" href="#" title="Convert to sepia tone">Sepia</a> -->
			<a id="ReCenter" href="#" title="Re-Center Your Image">Re-Center</a> <!-- Need to write a function to bring the user image back to the starting point -->
			<a id="clicked" href="#" title="What State was chosen?">Clicked State</a> <!-- used for testing -->
		</section>
	</div>

	<input type="file" id="UploadImage" href="#" title="Upload Your Image">Upload Image</input>


	<br>
	<button onclick="imageIsNull()"> Has an image already been loaded? </button> <!-- Testing to see if an image has been loaded - Testing that my function and if statements work -->
	<p id="isImageNull"></p>

	<script src="jquery/jquery-1.12.4.min.js"></script>
	<script src="jquery/jquery-ui-1.10.3.js"></script>
	<script src="js/raphael.js"></script>
	<script src="js/usa_map.js"></script>
	<script src="js/Fabric_JS/fabric.min.js"></script>


	<script>
		//Changing the control colors from light blue to black
		fabric.Object.prototype.set({
			transparentCorners: true,
			borderColor: '#111111',
			cornerColor: '#111111'
		});

		//get information about the state that the user clicked on the main map page
		var stateNameStored = localStorage.getItem('storedStateName');
		var idNameStored = localStorage.getItem('storedIdName');

		// changing the editor background color
		var canvas = new fabric.Canvas('editor', {
			backgroundColor: 'white'
			// backgroundColor: 'gray'
		});

		// loading the background/overlay image from SVG of the state that was cicked
		var statePath;
		var groupStates = [];
		fabric.loadSVGFromURL("svg/usa_map.svg", function(objects, options) {
				var stateObjects = new fabric.Group(groupStates);
				stateObjects.set({
					left: 10,
					top: 10,
					width: canvas.width - 10,
					height: canvas.height - 10
				});


				for (var i = 0; i < objects.length; i++) {
					if (stateObjects._objects[i].id == idNameStored) {
						var overlayState = stateObjects._objects[i];

						// overlayState.scaleX = 1.5;
						// overlayState.scaleY = 1.5; // Increasing the size of the state image so it is easier for the user to fit their image into the shape of the state.

						overlayState.set({
							opacity: .4,
							left: 0,
							top: 0,
							// fill: 'white',
							// height: canvas.height,
							// width: canvas.width
							height: 250,
							width: 300, // Changed the size of the state so that it fits better in the canvas. This ties with the scaling X and Y
							selectable: false,
							// scaleY: canvas.height / objects.width,
          		// scaleX: canvas.width / objects.width
							scaleX: 1.5,
							scaleY: 1.5 // Increasing the size of the state image so it is easier for the user to fit their image into the shape of the state.
						})
						// overlayState.selectable = false;

						canvas.add(overlayState);
						canvas.setOverlayImage(overlayState);
						canvas.controlsAboveOverlay = true;
						statePath = String(loadedObjects._objects[i].path); // hoping this will work for clip-path
						canvas.renderAll();

					}
				}
			},
			function(item, object) {
				object.set('id', item.getAttribute('id'));
				groupStates.push(object);
			});

			// Function for the upload image button - We check to see if an image was already found then ask if that is correct - can be changed to remove old image before loading a new image"
			var userImage = new fabric.Image(); // This is outside of the function to make it a global variable

			document.getElementById('UploadImage').onchange = function handleImage(e) {

				if (userImage.height > 0) {

					if (confirm("An image has already been loaded. Did you mean to load a second image?") === true) {
						var reader = new FileReader();
						reader.onload = function(event) {

							var imgObj = new Image();
							imgObj.src = event.target.result;
							imgObj.onload = function() {

								userImage = new fabric.Image(imgObj);
								userImage.set({
									left: 10,
									top: 10,
									width: canvas.width - 10,
									height: canvas.height - 10,
									opacity: 1
								});
								canvas.add(userImage);
								userImage.globalCompositeOperation = 'source-atop';
								canvas.renderAll();
							}
						}
						reader.readAsDataURL(e.target.files[0]);
					}
					//end of if for "confirm"

				} else {
					var reader = new FileReader();
					reader.onload = function(event) {

						var imgObj = new Image();
						imgObj.src = event.target.result;
						imgObj.onload = function() {

							// var userImage = new fabric.Image(imgObj);
							userImage = new fabric.Image(imgObj);
							userImage.set({
								left: 10,
								top: 10,
								width: canvas.width - 10,
								height: canvas.height - 10,
								opacity: 1
							});
							canvas.add(userImage);
							userImage.globalCompositeOperation = 'source-atop';
							canvas.renderAll();
						}
					}
					reader.readAsDataURL(e.target.files[0]);
				}
			};

		(function($) {
			// 	toolbar functions
			var tools = {

				//output to <img>
				save: function() {
					// var saveDialog = $("<div>").appendTo("body");
					// $("<img/>", {
					// 	src: canvas.toDataURL()
					// }).appendTo(saveDialog);
					// saveDialog.dialog({
					// 	resizable: false,
					// 	modal: true,
					// 	title: "Right-click and choose 'Save Image As'",
					// 	width: canvas.width + 50,
					// 	height: canvas.height + 50
					// });



					 if (!fabric.Canvas.supports('toDataURL')) {
					  alert('This browser doesn\'t provide means to serialize canvas to an image');
					}
					else {
					  window.open(canvas.toDataURL('png'));
					}



				},

				// 		greyscale: function() {
				// 				//get image data
				// 				var imgData = context.getImageData(0, 0, editor.width, editor.height),
				// 						pxData = imgData.data,
				// 						length = pxData.length;
				// 				for(var x = 0; x < length; x+=4) {
				// 						//convert to grayscale
				// 						var r = pxData[x],
				// 								g = pxData[x + 1],
				// 								b = pxData[x + 2],
				// 								grey = r * .3 + g * .59 + b * .11;
				// 						pxData[x] = grey;
				// 						pxData[x + 1] = grey;
				// 						pxData[x + 2] = grey;
				// 				}
				// 				//paint grayscale image back
				// 				context.putImageData(imgData, 0, 0);
				// 		},
				//
				// 		sepia: function() {
				// 		//get image data
				// 		var imgData = context.getImageData(0, 0, editor.width, editor.height),
				// 				pxData = imgData.data,
				// 				length = pxData.length;
				// 				for(var x = 0; x < length; x+=4) {
				// 						//convert to grayscale
				// 						var r = pxData[x],
				// 								g = pxData[x + 1],
				// 								b = pxData[x + 2],
				// 						sepiaR = r * .393 + g * .769 + b * .189,
				// 						sepiaG = r * .349 + g * .686 + b * .168,
				// 						sepiaB = r * .272 + g * .534 + b * .131;
				// 						pxData[x] = sepiaR;
				// 						pxData[x + 1] = sepiaG;
				// 						pxData[x + 2] = sepiaB;
				// 				}
				//
				// 				//paint sepia image back
				// 				context.putImageData(imgData, 0, 0);
				// 		},
				//
				//checking that the clicked state from the USA MAP page is coming over to the editor page

				ReCenter: function() {
					// I need to set the current coordinates of the user's image before being able to move them.
					userImage.set({
						left: 10,
						top: 10,
						height: canvas.height - 10,
						width: canvas.width - 10,
					});

				},


				// The below function is used for testing
				clicked: function() {
					//populating variables from what was clicked on the USA map
					document.getElementById("clickedText").innerHTML = "On the map, you clicked " + stateNameStored + " and " + idNameStored;
				}
			};

			$("#toolbar").children().click(function(e) {
				e.preventDefault();
				//call the relevant function
				tools[this.id].call(this);
			});

		})(jQuery);


		// This function is used to test to see if an image has been loaded yet or not
		function imageIsNull() {
			if (userImage.height > 0) {
				document.getElementById("isImageNull").innerHTML = "image is not null"
			} else {
				document.getElementById("isImageNull").innerHTML = "image is null"
			}
		};
	</script>


</body>

</html>
