<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Map Image Editor</title>
        <link rel="stylesheet" href="css/editor.css">
        <link rel="stylesheet" href="css/ui-lightness-jquery-ui-1.8.7.custom.css">
    </head>
    <body>
        <div id="imageEditor">
            <section id="editorContainer">
                <canvas id="editor" width="480" height="480"></canvas>
            </section>
            <section id="toolbar">
                <a id="save" href="#" title="Save">Save</a>
                <a id="rotateL" href="#" title="Rotate left">Rotate Left</a>
                <a id="rotateR" href="#" title="Rotate right">Rotate Right</a>
                <a id="resize" href="#" title="Resize">Resize</a>
                <a id="greyscale" href="#" title="Convert to grayscale">B&W</a>
                <a id="sepia" href="#" title="Convert to sepia tone">Sepia</a>
                <a id="clicked" href="#" title="What State was chosen?">Clicked State</a>
            </section>
        </div>
        <div id="clickedText"></div>

        <div id="ky"> <!-- trying to show the ky state svg image -->
        <!-- <div id="map"><div id="myModal" class="modal">
           <span id="close">&times;</span>
           <div id="ky" class="ky"> </div>
        </div> -->

            <form action="#" id="controls">
            <label for="sizing">Size</label>
            <input type="range" min="50" max="500" value="250" id="sizing"/>
             </form>
            
           <!-- <svg>
            <defs>
                <pattern id="kyimg" patternUnits="userSpaceOnUse" width="50" height="50">
                <image href="img/kentucky.jpg" x="0" y="0" width="50" height="50" />
                </pattern>
            </defs>
            </svg> -->
        
        </div>

        <script src="jquery/jquery-1.12.4.min.js"></script>
       <script src="jquery/jquery-ui-1.10.3.js"></script>
       <script src="js/raphael.js"></script>
       <script src="js/usa_map.js"></script>
       <script src="js/ky_state_svg.js"></script>
        
        <script>
            function svg() {
            var sizing =  document.getElementById("sizing").value;
            var svgString2 = '<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%" id="linkedcircles"><defs><pattern id="chainedcircles" patternUnits="userSpaceOnUse" width="'+sizing+'" height="'+sizing+'"><circle cx="'+(sizing/2)+'" cy="'+(sizing/2)+'" r="'+radius+'" stroke-width="'+thickness+'" stroke="'+circColor+'" fill="none" id="circ" /><use xlink:href="#circ" /><use xlink:href="#circ" transform="translate('+spacing+')"/><use xlink:href="#circ" transform="translate(-'+spacing+')"/><use xlink:href="#circ" transform="translate(0 '+spacing+')"/><use xlink:href="#circ" transform="translate(0 -'+spacing+')"/></pattern></defs><rect width="100%" height="100%" fill="url(#chainedcircles)" /></svg>';
            var svgString = '<svg><defs><pattern id="kyimg" patternUnits="userSpaceOnUse" width="'+sizing+'" height="'+sizing+'"><image href="img/kentucky.jpg" x="0" y="0" width="50" height="50" /></pattern></defs></svg>';
            var encodedData = window.btoa(svgString);
            var url = 'data:image/svg+xml;base64,' + encodedData;
            document.body.style.backgroundImage = "url("+url+")";
            }
            svg();
            var patternMaker = document.getElementById("controls");
            var codeOutput = document.querySelector("output code span");
            patternMaker.addEventListener("input", function(e) {
              svg();
            })
        </script>

        <script>

        // var img = new Image();
        // img.onload = function() {
        //     ctx.drawImage(img, 0, 0);
        // }
        // img.src = "http://upload.wikimedia.org/wikipedia/commons/d/d2/Svg_example_square.svg";


                (
                  function($){

                    //get canvas and context
                    var stateNameStored = localStorage.getItem('storedStateName');
                    var idNameStored = localStorage.getItem('storedIdName');
                    var editor = document.getElementById("editor")
                    var  context = editor.getContext("2d")
                      //create/load image
                        if( stateNameStored == "Kentucky")
                        {
                          // var image = new Image();
                          // image.onload = function() {
                          //     ctx.drawImage(image, 0, 0);
                          // }
                          // img.src = "http://upload.wikimedia.org/wikipedia/commons/d/d2/Svg_example_square.svg";
                  
                            var image = $("<img/>", {
                              src: "img/kentucky.jpg",
                            load: function() {
                                context.drawImage(this, 0, 0);
                              }
                            })
                        }
                         else
                         {
                            var image = $("<img/>", {
                              src: "img/ota_badge.jpg",
                            load: function() {
                                context.drawImage(this, 0, 0);
                            }
                          })
                        }

                    //toolbar functions
                  var  tools = {

                      //output to <img>
                    save: function() {
                        var saveDialog = $("<div>").appendTo("body");
                        $("<img/>", {
                            src: editor.toDataURL()
                        }).appendTo(saveDialog);
                        saveDialog.dialog({
                            resizable: false,
                            modal: true,
                            title: "Right-click and choose 'Save Image As'",
                            width: editor.width + 35
                        });
                    },

                    rotate: function(conf) {
                        //save current image before rotating
                        $("<img/>", {
                            src: editor.toDataURL(),
                            load: function() {
                                //rotate canvas
                                context.clearRect(0, 0, editor.width, editor.height);
                                context.translate(conf.x, conf.y);
                                context.rotate(conf.r);
                                //redraw saved image
                                context.drawImage(this, 0, 0);
                            }
                        });
                    },
                    rotateL: function() {
                        var conf = {
                            x: 0,
                            y: editor.height,
                            r: -90 * Math.PI / 180
                        };
                        tools.rotate(conf);
                    },
                    rotateR: function() {
                        var conf = {
                            x: editor.width,
                            y: 0,
                            r: 90 * Math.PI / 180
                        };
                        tools.rotate(conf);
                    },

                    resize: function() {
                        //create resizable over canvas
                        var coords = $(editor).offset(),
                            resizer = $("<div>", {
                                id: "resizer"
                            }).css({
                                position: "absolute",
                                left: coords.left,
                                top: coords.top,
                                width: editor.width - 1,
                                height: editor.height - 1
                            }).appendTo("body");

                            var resizeWidth = null,
                                resizeHeight = null,
                                xpos = editor.offsetLeft + 5,
                                ypos = editor.offsetTop + 5;

                            resizer.resizable({
                                aspectRatio: true,
                                //maxWidth: editor.width - 1,
                                //maxHeight: editor.height - 1,


                                resize: function(e, ui) {
                                    resizeWidth = Math.round(ui.size.width);
                                    resizeHeight = Math.round(ui.size.height);

                                    //tooltip to show new size
                                    var string = "New width: " + resizeWidth + "px,<br />new height: " + resizeHeight + "px";

                                    if ($("#tip").length)
                                    {
                                        $("#tip").html(string);
                                    } else {
                                        var tip = $("<p></p>", {
                                            id: "tip",
                                            html: string
                                        }).css({
                                            left: xpos,
                                            top: ypos
                                        }).appendTo("body");
                                    }
                                },
                                stop: function(e, ui) {

                                    //confirm resize, then do it
                                    var confirmDialog = $("<div></div>", {
                                        html: "Image will be resized to " + resizeWidth + "px wide, and " + resizeHeight + "px high.<br />Proceed?"
                                    });

                                    //init confirm dialog
                                    confirmDialog.dialog({
                                        resizable: false,
                                        modal: true,
                                        title: "Confirm resize?",
                                        buttons: {
                                            Cancel: function() {

                                                //tidy up
                                                $(this).dialog("close");
                                                resizer.remove();
                                                $("#tip").remove();
                                            },
                                        Yes: function() {

                                            //tidy up
                                            $(this).dialog("close");
                                            resizer.remove();
                                            $("#tip").remove();

                                            $("<img/>", {
                                                src: editor.toDataURL(),
                                                load: function() {

                                                    //remove old image
                                                    context.clearRect(0, 0, editor.width, editor.height);

                                                    //resize canvas
                                                    editor.width = resizeWidth;
                                                    editor.height = resizeHeight;

                                                    //redraw saved image
                                                    context.drawImage(this, 0, 0, resizeWidth, resizeHeight);
                                                }
                                            });
                                        }
                                    }
                                });
                            }
                        });
                    },

                    greyscale: function() {
                        //get image data
                        var imgData = context.getImageData(0, 0, editor.width, editor.height),
                            pxData = imgData.data,
                            length = pxData.length;
                        for(var x = 0; x < length; x+=4) {
                            //convert to grayscale
                            var r = pxData[x],
                                g = pxData[x + 1],
                                b = pxData[x + 2],
                                grey = r * .3 + g * .59 + b * .11;
                            pxData[x] = grey;
                            pxData[x + 1] = grey;
                            pxData[x + 2] = grey;
                        }
                        //paint grayscale image back
                        context.putImageData(imgData, 0, 0);
                    },

                    sepia: function() {
                    //get image data
                    var imgData = context.getImageData(0, 0, editor.width, editor.height),
                        pxData = imgData.data,
                        length = pxData.length;
                        for(var x = 0; x < length; x+=4) {
                            //convert to grayscale
                            var r = pxData[x],
                                g = pxData[x + 1],
                                b = pxData[x + 2],
                            sepiaR = r * .393 + g * .769 + b * .189,
                            sepiaG = r * .349 + g * .686 + b * .168,
                            sepiaB = r * .272 + g * .534 + b * .131;
                            pxData[x] = sepiaR;
                            pxData[x + 1] = sepiaG;
                            pxData[x + 2] = sepiaB;
                        }

                        //paint sepia image back
                        context.putImageData(imgData, 0, 0);
                    },

                    //checking that the clicked state from the USA MAP page is coming over to the editor page
                  clicked: function() {

                    //populating variables from what was clicked on the USA map

                    document.getElementById("clickedText").innerHTML = "On the map, you clicked " + stateNameStored + " and " + idNameStored;

                  }
                };

                    $("#toolbar").children().click(function(e) {
                        e.preventDefault();
                        //call the relevant function
                        tools[this.id].call(this);
                    });

                    })(jQuery);

        </script>
    </body>
</html>
