<!DOCTYPE html>
<html class="no-js">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Map3</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" href="css/custom.css">
	<link rel="stylesheet" href="css/main.css">

	</head>
  <body>
    <p>Fabric JS example</p>

    <img src="img/ota_badge.jpg" id="target">
    <script>
      new Darkroom('#target');
    </script>

	  <script src="js/Fabric_JS/fabric.js"></script>
		<script src="js/Fabric_JS/darkroom.js"></script>

  </body>
</html>
