<!DOCTYPE html>
<html class="no-js">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Map3</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" href="css/custom.css">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/editor.css">
	<link rel="stylesheet" href="css/ui-lightness-jquery-ui-1.8.7.custom.css">

	</head>
  <body>
		<p>Fabric JS example</p>
		<!-- <canvas id="canvas" width="800" height="450" style="border:1px solid #000000"> -->
			<!-- <img src="img/ota_badge.jpg" id="user-image"></img> <!-- This would be the image that the user loads and can be manipulated -->
			<!-- <img src="img/ota_badge1.png" id="background"></img> <!-- This would be the state image which be used as the background image/ stensil -->
		<!-- </canvas> -->

			<p id="clickedText"></p>

				 <div id="imageEditor">
						<section id="editorContainer">
								<canvas id="editor" width="480" height="480" style="border:1px solid #000000">
										<img src="img/ota_badge.jpg" id="user-image"></img> <!-- This would be the image that the user loads and can be manipulated -->
										<img src="img/ota_badge1.png" id="overlay"></img> <!-- This would be the state image which be used as the background image/ stensil -->
								</canvas>
						</section>

						<section id="toolbar">
								<a id="save" href="#" title="Save">Save</a>
								<a id="rotateL" href="#" title="Rotate left">Rotate Left</a>
								<a id="rotateR" href="#" title="Rotate right">Rotate Right</a>
								<a id="resize" href="#" title="Resize">Resize</a>
								<a id="greyscale" href="#" title="Convert to grayscale">B&W</a>
								<a id="sepia" href="#" title="Convert to sepia tone">Sepia</a>
								<a id="clicked" href="#" title="What State was chosen?">Clicked State</a>
						</section>
				</div>
				<div id="clickedText"></div>

				<script src="jquery/jquery-1.12.4.min.js"></script>
			 <script src="jquery/jquery-ui-1.10.3.js"></script>
			 <script src="js/raphael.js"></script>
			 <script src="js/usa_map.js"></script>

			<script src="js/Fabric_JS/fabric.min.js"></script>


		<script>
		// Below is the fabric script
				// var canvas = new fabric.Canvas('editor');
				//
				// var imgElement = document.getElementById('user-image');
				// var imgInstance = new fabric.Image(imgElement, {
				//   // left: 100,
				//   // top: 100,
				//   // angle: 30,
				//   // opacity: 0.85
				// });
				// canvas.add(imgInstance);
				//
				// var overlay_img = document.getElementById('overlay'); // background image would be the state image that they had chosen
				// var overlayState = new fabric.Image(overlay_img,{
				// 	opacity: .85
				// });
				// canvas.controlsAboveOverlay = true;
				// canvas.setOverlayImage(overlayState); // overlay the image of the state that the user selected
// above is the fabric script stuff


							//get canvas and context
							var stateNameStored = localStorage.getItem('storedStateName');
							var idNameStored = localStorage.getItem('storedIdName');

							var canvas = new fabric.Canvas('editor');

							var imgElement = document.getElementById('user-image');
							var imgInstance = new fabric.Image(imgElement, {
								left: 100,
								top: 100,
								height: canvas.height,
								width: canvas.width
								// angle: 30,
								// opacity: 0.85
							});
							canvas.add(imgInstance);

							var overlay_img = document.getElementById('overlay'); // background image would be the state image that they had chosen
							var overlayState = new fabric.Image(overlay_img,{
								opacity: .85,
								left: 0,
								top: 0,
								height: canvas.height,
								width: canvas.width
							});
							canvas.controlsAboveOverlay = true;
							canvas.setOverlayImage(overlayState); 	// overlay the image of the state that the user selected

							(		function($){
									// 	toolbar functions
									var  tools = {

											//output to <img>
										save: function() {
												var saveDialog = $("<div>").appendTo("body");
												$("<img/>", {
														src: canvas.toDataURL()
												}).appendTo(saveDialog);
												saveDialog.dialog({
														resizable: false,
														modal: true,
														title: "Right-click and choose 'Save Image As'",
														width: canvas.width + 35
												});
										},

								// 		greyscale: function() {
								// 				//get image data
								// 				var imgData = context.getImageData(0, 0, editor.width, editor.height),
								// 						pxData = imgData.data,
								// 						length = pxData.length;
								// 				for(var x = 0; x < length; x+=4) {
								// 						//convert to grayscale
								// 						var r = pxData[x],
								// 								g = pxData[x + 1],
								// 								b = pxData[x + 2],
								// 								grey = r * .3 + g * .59 + b * .11;
								// 						pxData[x] = grey;
								// 						pxData[x + 1] = grey;
								// 						pxData[x + 2] = grey;
								// 				}
								// 				//paint grayscale image back
								// 				context.putImageData(imgData, 0, 0);
								// 		},
								//
								// 		sepia: function() {
								// 		//get image data
								// 		var imgData = context.getImageData(0, 0, editor.width, editor.height),
								// 				pxData = imgData.data,
								// 				length = pxData.length;
								// 				for(var x = 0; x < length; x+=4) {
								// 						//convert to grayscale
								// 						var r = pxData[x],
								// 								g = pxData[x + 1],
								// 								b = pxData[x + 2],
								// 						sepiaR = r * .393 + g * .769 + b * .189,
								// 						sepiaG = r * .349 + g * .686 + b * .168,
								// 						sepiaB = r * .272 + g * .534 + b * .131;
								// 						pxData[x] = sepiaR;
								// 						pxData[x + 1] = sepiaG;
								// 						pxData[x + 2] = sepiaB;
								// 				}
								//
								// 				//paint sepia image back
								// 				context.putImageData(imgData, 0, 0);
								// 		},
								//
										//checking that the clicked state from the USA MAP page is coming over to the editor page
									clicked: function() {
										//populating variables from what was clicked on the USA map
										document.getElementById("clickedText").innerHTML = "On the map, you clicked " + stateNameStored + " and " + idNameStored;
									}
								};

										$("#toolbar").children().click(function(e) {
												e.preventDefault();
												//call the relevant function
												tools[this.id].call(this);
									});

										})(jQuery);

				</script>


    <!-- <img src="img/ota_badge.jpg" id="target">
    <script>
      new Darkroom('#target');
    </script> -->

  </body>
</html>
