<!DOCTYPE html>
<html class="no-js">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Editor</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" href="css/editor.css">
	<link rel="stylesheet" href="css/ui-lightness-jquery-ui-1.8.7.custom.css">

</head>
<style>
	.clip-svg {
		clip-path: url(#myClip);
	}
</style>

<body>

	<img class="clip-svg" src="img/ota_badge.jpg">

	<svg width="0" height="0">
		<defs>
			<clipPath id="myClip">
				<!-- <path stroke="#000000" d= statePath />   No Bueno -->
				<!-- <path stroke="#000000" d= String(statePathObj) /> No Bueno -->
				<!-- <path stroke="#000000" d="M,361.1,70.77,l,-5.3,57.13,l,-1.3,15.2,l,-59.1,-6.6,l,-49,-7.1,l,-1.4,11.2,l,-1.9,-1.7,l,-0.4,-2.5,l,-1.3,-1.9,l,-3.3,1.5,l,-0.7,2.5,l,-2.3,0.3,l,-3.8,-1.6,l,-4.1,0.1,l,-2.4,0.7,l,-3.2,-1.5,l,-3,0.2,l,-2.1,1.9,l,-0.9,-0.6,l,-0.7,-3.4,l,0.7,-3.2,l,-2.7,-3.2,l,-3.3,-2.5,l,-2.5,-12.6,l,-0.1,-5.3,l,-1.6,-0.8,l,-0.6,1,l,-4.5,3.2,l,-1.2,-0.1,l,-2.3,-2.8,l,-0.2,-2.8,l,7,-17.15,l,-0.6,-2.67,l,-3.5,-1.12,l,-0.4,-0.91,l,-2.7,-3.5,l,-4.6,-10.41,l,-3.2,-1.58,l,-1.8,-4.26,l,1.3,-4.63,l,-3.2,-7.57,l,4.4,-21.29,l,32.7,6.89,l,18.4,3.4,l,32.3,5.3,l,29.3,4,l,29.2,3.5,l,30.8,3.07z" /> -->
				<path stroke="#000000" d="M2 60c8,-41 48,-67 88,-59 41,8 67,48 59,88 -8,41 -48,67 -88,59 -14,-3 -26,-9 -35,-18 3,-4 6,-9 7,-14 4,-18 -8,-35 -25,-38 -2,0 -4,-1 -6,-1 0,-6 0,-12 1,-17z" />
     <!-- <circle stroke="#000000" stroke-miterlimit="10" cx="193.949" cy="235" r="74.576"/> -->
		<!-- <path> <script> canvas.add(statePathObj);</script> </path> -->
			</clipPath>
		</defs>
	</svg>

	<p id="statePath"></p>

	<div id="imageEditor">
		<section id="editorContainer">
			<canvas id="editor" width="480" height="480" style="border:1px solid #000000"></canvas>
		</section>
	</div>

	<input type="file" id="UploadImage" href="#" title="Upload Your Image">Upload Image</input>
	<button type="button" onclick="testPath()">Test Path</button>

	<script src="jquery/jquery-1.12.4.min.js"></script>
	<script src="jquery/jquery-ui-1.10.3.js"></script>
	<script src="js/raphael.js"></script>
	<script src="js/usa_map.js"></script>
	<script src="js/Fabric_JS/fabric.min.js"></script>


	<script>
		//Changing the control colors from light blue to black
		fabric.Object.prototype.set({
			transparentCorners: true,
			borderColor: '#111111',
			cornerColor: '#111111'
		});

		//get information about the state that the user clicked on the main map page
		var stateNameStored = localStorage.getItem('storedStateName');
		var idNameStored = localStorage.getItem('storedIdName');

		// changing the editor background color
		var canvas = new fabric.Canvas('editor', {
			backgroundColor: 'white'
		});

		// const flyArrowPath = 'M,361.1,70.77,l,-5.3,57.13,l,-1.3,15.2,l,-59.1,-6.6,l,-49,-7.1,l,-1.4,11.2,l,-1.9,-1.7,l,-0.4,-2.5,l,-1.3,-1.9,l,-3.3,1.5,l,-0.7,2.5,l,-2.3,0.3,l,-3.8,-1.6,l,-4.1,0.1,l,-2.4,0.7,l,-3.2,-1.5,l,-3,0.2,l,-2.1,1.9,l,-0.9,-0.6,l,-0.7,-3.4,l,0.7,-3.2,l,-2.7,-3.2,l,-3.3,-2.5,l,-2.5,-12.6,l,-0.1,-5.3,l,-1.6,-0.8,l,-0.6,1,l,-4.5,3.2,l,-1.2,-0.1,l,-2.3,-2.8,l,-0.2,-2.8,l,7,-17.15,l,-0.6,-2.67,l,-3.5,-1.12,l,-0.4,-0.91,l,-2.7,-3.5,l,-4.6,-10.41,l,-3.2,-1.58,l,-1.8,-4.26,l,1.3,-4.63,l,-3.2,-7.57,l,4.4,-21.29,l,32.7,6.89,l,18.4,3.4,l,32.3,5.3,l,29.3,4,l,29.2,3.5,l,30.8,3.07,z';


	// const arrowPlane = new fabric.Path(flyArrowPath);


		// loading the background/overlay image from SVG of the state that was cicked
		var statePath;
		var statePathObj;
		var groupStates = [];
		var overlayState;
		fabric.loadSVGFromURL("svg/usa_map.svg", function(objects, options) {
				var stateObjects = new fabric.Group(groupStates);
				stateObjects.set({
					left: 10,
					top: 10,
					width: canvas.width - 10,
					height: canvas.height - 10
				});


				// for (var i = 0; i < objects.length; i++) {
				// 	if (stateObjects._objects[i].id == idNameStored) {
				// 		overlayState = stateObjects._objects[i];
				//
				// 		overlayState.set({
				// 			opacity: .4,
				// 			left: 0,
				// 			top: 0,
				// 			borderColor: "red",
				// 			borderScaleFactor: .5,
				// 			// fill: 'white',
				// 			// height: canvas.height,
				// 			// width: canvas.width
				// 			height: 250,
				// 			width: 300, // Changed the size of the state so that it fits better in the canvas. This ties with the scaling X and Y
				// 			selectable: false,
				// 			scaleX: 1.5,
				// 			scaleY: 1.5 // Increasing the size of the state image so it is easier for the user to fit their image into the shape of the state.\
				// 		})

				for (var i = 0; i < objects.length; i++) {
					if (stateObjects._objects[i].id == idNameStored) {

						statePath = String(stateObjects._objects[i].path); // hoping this will work for clip-path... but it doesnt.
						overlayState = new fabric.Path(statePath);

						overlayState.set({
							opacity: .4,
							left: 0,
							top: 0,
							// borderColor: "red",
							//stroke-width: 2,
							stroke: black,
							fill: 'transparent',
							// height: canvas.height,
							// width: canvas.width
							height: 250,
							width: 300, // Changed the size of the state so that it fits better in the canvas. This ties with the scaling X and Y
							selectable: false,
							scaleX: 1.5,
							scaleY: 1.5 // Increasing the size of the state image so it is easier for the user to fit their image into the shape of the state.\
						})

						canvas.add(overlayState);
						canvas.setOverlayImage(overlayState);
						canvas.controlsAboveOverlay = true;

						// statePath = String(stateObjects._objects[i].path); // hoping this will work for clip-path... but it doesnt.
						// statePathObj = new fabric.Path(statePath);
						// statePathObj.set({
						// 	fill: 'red',
						// 	left: 10,
						// 	top: 10,
						// 	width: canvas.width - 10,
						// 	height: canvas.height - 10
						// });
						//canvas.add(statePathObj); // This works but is unnecessary since we cant use variables in the clip path


					}
				}
			},
			function(item, object) {
				object.set('id', item.getAttribute('id'));
				groupStates.push(object);
			});


		// // uploading user image
		// var userImage = new fabric.Image();
		// document.getElementById('UploadImage').onchange = function handleImage(e) {
		//
		// 			var reader = new FileReader();
		// 			reader.onload = function(event) {
		//
		// 				var imgObj = new Image();
		// 				imgObj.src = event.target.result;
		// 				imgObj.onload = function() {
		//
		// 					userImage = new fabric.Image(imgObj);
		// 					userImage.set({
		// 						left: 10,
		// 						top: 10,
		// 						width: canvas.width - 10,
		// 						height: canvas.height - 10,
		// 						opacity: 1,
		// 						clipTo: function (ctx) {
		// 							overlayState.set ({
		// 								// left: 10,
		// 								// top: 10,
		// 								// width: canvas.width - 10,
		// 								// height: canvas.height - 10
		// 							});
		// 						 overlayState.render(ctx);
		// 					 }
		// 					});
		// 					canvas.add(userImage);
		// 					userImage.globalCompositeOperation = 'source-atop';
		// 					canvas.renderAll();
		// 				}
		// 			}
		// 			reader.readAsDataURL(e.target.files[0]);
		// 	}


		// uploading user image2
		var userImage = new fabric.Image();
		document.getElementById('UploadImage').onchange = function handleImage(e) {

			var reader = new FileReader();
			reader.onload = function(event) {

				var imgObj = new Image();
				imgObj.src = event.target.result;
				imgObj.onload = function() {

					userImage = new fabric.Image(imgObj);
					userImage.set({
						left: 10,
						top: 10,
						width: canvas.width - 10,
						height: canvas.height - 10,
						opacity: 1
						// ,clipTo: function(ctx)
						// {
						// 	arrowPlane.set({
						// 		left: 50,
						// 		right: 50,
						// 		width: ctx.width,
						// 		length: ctx.length,
						// 	fill: 'red'
						// });
						//
						// arrowPlane.render(ctx);
						// }

						// ,clipTo: function(ctx) {
						// 	overlayState.set({
						// 		left: -100,
						// 		top: -100,
						// 		width: ctx.width,
						// 		height: ctx.height
						// 	});
						// 	// canvas.centerObject(overlayState);
						// 	overlayState.render(ctx);
						// }
					});
					canvas.add(userImage);
					userImage.globalCompositeOperation = 'source-atop';
					canvas.renderAll();
				}
			}
			reader.readAsDataURL(e.target.files[0]);
		}

		function testPath() {
			document.getElementById("statePath").innerHTML = statePath;
		}
	</script>


</body>

</html>
