<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Travel Posts</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/main.css">

		<!--[if lte IE 9]>
		  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
		  <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.3.0/respond.js"></script>
		<![endif]-->

        <script src="js/vendor/modernizr.custom.32229-2.8-respondjs-1-4-2.js"></script>
    </head>
    <body >

    <main class="container left-container">
        <div class="row">

            <div id="menu-target">
                <ul>
                    <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
                    <li><i class="fa fa-user"></i><a href="author.html">John Smith</a></li>
                    <li><i class="fa fa-anchor"></i><a href="page.html">About</a></li>
                    <li><i class="fa fa-star"></i><a href="favorites.html">Favorites</a></li>
                    <li><i class="fa fa-paper-plane"></i><a href="contact.html">Contact</a></li>
                </ul>
                <hr>
                <ul>
                    <li><i class="fa fa-file"></i><a href="post.html">Post Page</a></li>
                    <li><i class="fa fa-file"></i><a href="post-sidebar.html">Post with Sidebar</a></li>
                    <li><i class="fa fa-home"></i><a href="alt-home.html">Alternate Home</a></li>
                    <li><i class="fa fa-image"></i><a href="category.html">Category Page</a></li>
                </ul>
            </div>

            <section class="sidebar category-sidebar col-md-5 col-sm-12" style="background-image: url(img/default-category-sidebar.jpg);">

                <span class="menu-trigger animated fadeInDown">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </span>

                <!-- if the user has javascript disabled they can still use the menu -->
                <noscript>
                    <div class="no-js-menu">
                        <ul>
                            <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
                            <li><i class="fa fa-user"></i><a href="author.html">John Smith</a></li>
                            <li><i class="fa fa-anchor"></i><a href="page.html">About</a></li>
                            <li><i class="fa fa-star"></i><a href="favorites.html">Favorites</a></li>
                            <li><i class="fa fa-paper-plane"></i><a href="contact.html">Contact</a></li>
                            <li><i class="fa fa-file"></i><a href="post.html">Post Page</a></li>
                            <li><i class="fa fa-file"></i><a href="post-sidebar.html">Post with Sidebar</a></li>
                            <li><i class="fa fa-home"></i><a href="alt-home.html">Alternate Home</a></li>
                            <li><i class="fa fa-image"></i><a href="category.html">Category Page</a></li>
                        </ul>
                    </div>
                </noscript>
                <!-- end no script -->

                <div class="site-info">
                    <div class="primary-info">
                    <h1>Travel</h1>
                        <p>"Travel makes one modest. You see what a tiny place you occupy in the world.” – Gustave Flaubert</p>
                    </div>
                </div>

            </section>

            <section class="col-md-7 col-sm-12 col-md-offset-5 main-content">

                <div class="sub-nav">
                    <a href="#" class="select-posts active">Posts</a>
                </div>

                <div class="category-page-posts animated fadeIn ">

			  {% assign posts = site.posts | where: "post_category","Travel" %}
			  {% for post in posts %}

			      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
			
			      <div class="entry">
				{{ post.excerpt }}
			      </div>
			<p  class="meta">
				{% if post.post_author == "Evan Neises"%}
					By <a href="{{ site.url }}/author_evan.html" class="meta">{{ post.post_author }} in <a href="{{ site.url }}/category.html" class="meta">{{ post.post_category }}</a>
				{% elsif post.post_author == "Jake Ellis"%}
					By <a href="{{ site.url }}/author_jake.html" class="meta">{{ post.post_author }} in <a href="{{ site.url }}/category.html" class="meta">{{ post.post_category }}</a>
				{% else %}
					By <a href="{{ site.url }}/author_guest.html" class="meta">{{ post.post_author }} in <a href="{{ site.url }}/category.html" class="meta">{{ post.post_category }}</a>
				{% endif %}
			</p>
			  {% endfor %}
			</div>

                </div><!-- Category page posts -->
            </section><!-- main content -->
        </div> <!--/row -->
    </main> <!-- /container -->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

        <script src="js/vendor/jquery.jpanelmenu.min.js"></script>
        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/vendor/fastclick.min.js"></script>

        <script src="js/main.js"></script>
    </body>
</html>

